<div class="container">
    <div class="text-center border mb-5 shadow rounded">
        <h1>Contact</h1>
        <p>Drop me an email at: <b>lee.charlenej&#64;gmail.com</b></p>
        <p>And I would love to connect with you on any of the following platforms:</p>
    </div>

    <div class="list-group shadow">
        <a href="https://www.linkedin.com/in/charlene-l-35b173143/" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="/img/icons/linkedin.png" width="40" height="40" alt="" class="rounded-circle flex-shrink-0 me-3">
            <h3 class="mb-0">LinkedIn</h3>
        </a>

        <a href="https://github.com/leecharlenej" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="/img/icons/github.png" width="40" height="40" alt="" class="rounded-circle flex-shrink-0 me-3">
            <h3 class="mb-0">Github</h3>
        </a>
    
    </div>
</div>
