<div class="container text-center">
    <button (click)= "DownloadFile()" class=" btn btn-primary mb-23 shadow border">Download PDF Resume</button>

    <p></p>

    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">

            <!-- Work experience -->
            <accordion-group [(isOpen)]="isWorkExperienceOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;"></div>
                    <div class="btn-link">Work Experience</div>
                    <div style="width: 10.9px">
                        <div *ngIf="!isWorkExperienceOpen" style="color: white;">> </div>
                        <div *ngIf="isWorkExperienceOpen" style="color: white;">v </div>
                    </div>

                </button>

                <div style="text-align:left;">
                    <h3 class="mt-o">Intern</h3>
                    <h4 class="text-primary">National Cybersecurity R&D Lab</h4>
                    <p class="text-muted mb-0 ml-3">Feb 2024 - Jul 2024</p>
                    <ul>
                        <li>Consulted on cybersecurity curriculum for secondary school and junior college students.</li>
                        <li>Developed an innovative MCQ Quiz Generator to assist educators in creating, modifying, and randomizing multiple-choice questions for a diverse testing experience.</li>
                    </ul>
                </div>
                <hr>
                <div style="text-align:left;">
                    <h3 class="mt-o">Cybersecurity Engineer/SOC L1 Duty Analyst</h3>
                    <h4 class="text-primary">DBS Bank</h4>
                    <p class="text-muted mb-0 ml-3">Apr 2022 - Aug 2023</p>
                    <ul>
                        <li>Collaborate with cross-displinary teams and vendors to ensure overall bank cyberhygiene.</li>
                        <li>Support and maintain cybersecurity systems.</li>
                        <li>Review system and application activities to detect abnormalities based on provided criteria.</li>
                        <li>Mastered the monitoring of cybersecurity alerts  to ensure safety and integrity of bank's system, with minimal supervision.</li>
                        <li>Tools and platforms used include Demisto, Extrahop, Exabeam, Deep Discovery Director, Digital Shadows, Ensign, IBM QRadar, Netcraft, UpGuard and Zerofox.</li>
                        <li>Triaged and reviewed security events, network traffic, and logs to identify false positives and initiate escalation to appropriate parties when necessary.</li>
                        <li>Performed incident response support for cybersecurity incidents through investigation, collection of evidence, systematic documentation and timely reporting within SLA.</li> 
                    </ul>
                </div>
                <hr>
                <div style="text-align:left;">
                    <h3 class="mt-o">IB Mathematics Educator</h3>
                    <h4 class="text-primary">St. Joseph's Institution</h4>
                    <p class="text-muted mb-0 ml-3">Jan 2020 - Dec 2021</p>
                    <ul>
                        <li>Taught Higher Level and Standard Level Mathematics to students aged 17-18.</li>
                        <li>Developed and refined curriculum to emphasise innovative thinking and real-world applications.</li>
                        <li>Mentored students in developing research and problem-solving skills, such as data management, modelling, statistical testing, analytical reasoning and evaluating information from real-world case studies.</li> 
                        <li>Initiated the greater use of education technology for learning and as forms of formative and summative assessments to create engaging and inclusive learning experience.</li>
                    </ul>
                </div>
                <hr>
                <div style="text-align:left;">
                    <h3 class="mt-o">Education officer</h3>
                    <h4 class="text-primary">Ministry of Education</h4>
                    <p class="text-muted mb-0 ml-3">Jul 2013 - Jul 2019</p>
                    <ul>
                        <li>Oversaw instruction and welfare of an average of 70 students annually.</li>
                        <li>Developed materials and conducted lectures to demonstrate the relevance of Mathematics in everyday life, to encourage a deeper understanding and appreciation for the subject.</li>
                        <li>Trained students in developing research strategies, and collaboration and presentation skills in year-long projects which investigated and responded to authentic and complex challenges in society.</li>
                    </ul>
                </div>
                <hr>
                <div style="text-align:left;">
                    <h3 class="mt-o">Writer</h3>
                    <h4 class="text-primary">Freelance</h4>
                    <p class="text-muted mb-0 ml-3">Jan 2012 - Dec 2018</p>
                    
                    <ul>
                        <li>Conceived web, social media and SEO-optimised content and campaigns for companies.</li>
                        <li>Mastered HTML and Adobe Photoshop through self-directed learning.</li>
                        <li>Companies include Amorepacific, Crabtree & Evelyn, Guardian, Lancôme, L'Oréal, SK-II and Watsons; and online platforms include Avenue One, Daily Vanity and Zalora.</li>

                    </ul>
                </div>
                
    
            </accordion-group>

            <!-- Education -->
            <accordion-group [(isOpen)]="isEducationOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;"></div>
                    <div class="btn-link">Education</div>
                    <div style="width: 10.9px">
                        <div *ngIf="!isEducationOpen" style="color: white;">> </div>
                        <div *ngIf="isEducationOpen" style="color: white;">v </div>
                    </div>

                </button>

                <div style="text-align:left;">
                    <h3 class="mt-o">Masters of Computing</h3>
                    <h4 class="text-primary">National University of Singapore</h4>
                    <p class="text-muted mb-0 ml-3">Aug 2023 - Dec 2024</p>
                    <ul>
                        <li>Awarded the CSA-National Cybersecurity R&D Lab Scholarship</li>
                    </ul>
                </div>
                <hr>
                <div style="text-align:left;">
                    <h3 class="mt-o">Postgraduate Diploma in Education, Mathematics (Junior College)</h3>
                    <h4 class="text-primary">National Institute of Education</h4>
                    <p class="text-muted mb-0 ml-3">Aug 2013 - Jul 2014</p>
                </div>
                <hr>
                <div style="text-align:left;">
                    <h3 class="mt-o">Bachelor of Science in Mathematical Sciences, Statistics</h3>
                    <h4 class="text-primary">Nanyang Technological University</h4>
                    <p class="text-muted mb-0 ml-3">Aug 2009 - Feb 2013</p>
                    <ul>
                        <li>Second Class Honours - Upper Division</li>
                    </ul>
                </div>
    
            </accordion-group>

            <!-- Certification -->
            <accordion-group [(isOpen)]="isCertificationsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;"></div>
                    <div class="btn-link">Certifications</div>
                    <div style="width: 10.9px">
                        <div *ngIf="!isCertificationsOpen" style="color: white;">> </div>
                        <div *ngIf="isCertificationsOpen" style="color: white;">v </div>
                    </div>
                </button>

                <div class="row" style="text-align: left;">
                    <div class="col">
                        <ul>
                            <li>CompTIA Security+</li>
                            <li>(ISC)2 Certified in Cybersecurity</li>
                            <li>EC-Council Certified Ethical Hacker</li>
                        </ul>
                    </div>
    
                    <div class="col">
                        <ul>
                            <li>EC-Council Certified Incident Handler</li>
                            <li>EC-Council Certified Security Analyst v10</li>
                        </ul>
                    </div>
                </div>
    
            </accordion-group>

            <!-- Skills -->
            <accordion-group [(isOpen)]="isSkillsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;"></div>
                    <div class="btn-link">Skills</div>
                    <div style="width: 10.9px">
                        <div *ngIf="!isSkillsOpen" style="color: white;">> </div>
                        <div *ngIf="isSkillsOpen" style="color: white;">v </div>
                    </div>
                </button>

                <div class="row" style="text-align: left;">
                    <div class="col">
                        <h3>Programming Languages</h3>
                        <ul>
                            <li>Python</li>
                            <li>Java</li>
                        </ul>
                    </div>
    
                    <div class="col">
                        <h3>Other skills:</h3>
                        <ul>
                            <li>JLPT N4</li>
                        </ul>
                    </div>
                </div>
    
            </accordion-group>
        </accordion>
    </div>

    
</div>