<div class="jumbletron" style="position: relative;">
    <div class = "text-center">
        <h1 class = "display-4">Charlene L.</h1>
        <h3>Software engineer</h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px">
        <a href="https://www.linkedin.com/in/charlene-l-35b173143/" target="_blank" class="">
            <img src="/img/icons/linkedin.png" width="40" height="40" alt="" class="rounded-circle me-2">
        </a>

        <a href="https://github.com/leecharlenej" target="_blank" class="">
            <img src="/img/icons/github.png" width="40" height="40" alt="" class="rounded-circle me-2">
        </a>
    </div>
</div>
