<div class="container">
    <div class="row">
        <!-- About Me-->
        <div class ="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="/img/me.jpeg" alt="profile picture" width ="250" height = "250" class = "rounded-circle">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam finibus, tellus sed tempor mattis, tellus lorem tristique mi, id fermentum lectus diam ut orci. Proin lobortis odio sem, sit amet aliquam lectus dapibus eget. Integer lacus sem, condimentum eu iaculis sollicitudin, molestie vel dui. Nulla eget dignissim erat, dapibus venenatis augue. Ut ac aliquet neque. Phasellus tellus lectus, lobortis nec metus ac, pulvinar fringilla justo. Ut vehicula vulputate velit, consequat suscipit ante lacinia ac. Suspendisse in orci nec lorem dignissim dignissim. Donec feugiat turpis justo, ac iaculis leo ultricies eget. Integer varius vitae arcu ac lacinia. Pellentesque sit amet nunc libero. Sed interdum ante turpis, id pulvinar purus maximus tempor. Sed ut dolor vitae urna imperdiet hendrerit eget a sem. Fusce tempor, eros et hendrerit pharetra, sem magna volutpat mi, eu elementum orci libero sed sapien.</p>

        </div>

        <!-- Featured Project-->
        <div class ="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
            </div>

        </div>

    </div>
</div>
